<h1>Kalkulatory</h1>
<form action="/hello" method="post">
    <input type="number" name="x" />
    +<input type="number" name="y" />
    <input type="submit" value="Wyślij" />
</form >

<form action="/calc" method="post">
<input type="number" name="x" />
<select name="znak">
    <option>+</option>
    <option>-</option>
    <option>*</option>
</select>
    <input type="number" name="y" />
    <input type="submit" value="Dodaj" />
</form>

<form action="/calcv2" method="post">
<input type="number" name="x" />
<select name="znak">
    <option>+</option>
    <option>-</option>
    <option>*</option>
</select>
    <input type="number" name="y" />
    <input type="submit" value="Dodaj" />
</form>